.logo{
  height: 8.5em;
  width: 8.5em;

  border: 0.4em solid black;
  border-radius: 50%;
  margin-bottom: 1.7em;
}

.logo-img{
  max-width: 100%;
}

.msg{
  margin: 0px 4em;
  text-align: center;
  color: white;
  font-size: smaller;
  font-weight: bold;
}

.msg h1{
  margin-bottom: 2em;
}

.main{
  display: flex;
  flex-direction: column;
  max-width: 55em;

  justify-content: center;
  align-items: center;
  margin: 5em auto;
}